---
layout: default
---

<div class="grid-col-12">
    <div class="grid-row grid-gap">
        <div class="grid-col-6">
            {{ content}}
        </div>

        <div class="grid-col-6">
            <h2 class="site-preview-heading">Getting Started</h2>
            <ol class="usa-process-list">
                <li class="usa-process-list__item">
                    <h4 class="usa-process-list__heading">Explore Personas and Use Cases</h4>
                    <p class="margin-top-05">
                        Get familiar with common government scenarios and the roles involved. These give context on where the app templates and data models can help.
                    </p>
                </li>
                <li class="usa-process-list__item">
                    <h4 class="usa-process-list__heading">Review Data Models and App Starter Kits</h4>
                    <p>
                       Browse the standardized data models and prebuilt starter apps. Each includes overviews, release notes, and documentation to guide setup.
                    </p>
                </li>
                <li class="usa-process-list__item">
                    <h4 class="usa-process-list__heading">Download and Deploy</h4>
                    <p>
                        Select the latest release of the data model or app kit you need, and follow the how-to documentation to deploy in your environment.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>