---
layout: default
---

<section class="usa-section">
  <div class="grid-container-full">

    <div class="grid-row grid-gap">

      <!-- Sidebar navigation -->

      <aside class="grid-col-3">
        <img src="{{ page.thumbnail | relative_url }}" alt="{{ page.title }} persona image" class="page-thumbnail">
      </aside>

      <!-- Main content (right side) -->
      <main class="grid-col-9 usa-prose">

        <!-- Header row: breadcrumbs + page title -->
        <div class="grid-row grid-gap">
          <div class="grid-col-9 usa-prose">
            {% include breadcrumbs.html %}
          </div>
        </div>

        <!-- Content row: main column + small right column -->
        <div class="grid-row grid-gap">

          <!-- Main column -->
          <div class="grid-col-9 usa-prose">

            <h1 class="mgat-solution-heading">{{ page.title }}</h1>
            <hr />

            {{ content }}

          </div>

          <!-- Small right column (download + personas) -->
          <div class="grid-col-3">
            {% include related-usecases.html %}
            {% include related-data-models.html %}
            {% include related-starterkits.html %}
          </div>

        </div>

      </main>
    </div>
</section>